# Ignore input video files
input/*

# Ignore output files
output/*

ocr-consumer/debug_frames
ocr-consumer/ocr_output
ocr-consumer/raw_messages

nish/*

diagram-consumer/debug_diagrams
diagram-consumer/diagram_docs
diagram-consumer/diagram_output
diagram-consumer/output_diagram
diagram-consumer/raw_messages
diagram-consumer/yolov8x-seg.pt